

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  
}

.cards {
  display: flex;
  justify-content: space-around;

  width: 80%;
  margin-top: 30px;
  flex-wrap: wrap;
}

.product-card {
  width: calc(33.33% - 30px);
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 15px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}
.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: blue;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 150%;
  max-height: 150%;
  filter: drop-shadow(14px 14px 15px black);
  transition: transform 0.3s ease-in-out;
}

.product-tumb img:hover {
  transform: scale(1.2);
}

.product-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: auto;
}

.product-links {
  text-align: right;
  margin-top: 10px;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
  
  color: #fbb72c;
}

.product-links a:hover {
  color: #fbb72c;
}


.mat-card {
  width: calc(33.33% - 30px);
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
}

.mat-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0.7));
  overflow-x: hidden;
  transition: 0.3s;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}


.poster {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-top: 10px;
  
}

.poster-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 1; /* This sets the aspect ratio to 2:1 (width:height) */

}



.products-main-header {
  margin-top: 10px;
  color: #ccc; 
  
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

    box-shadow: rgba(3, 102, 214, 0.3) 0px 4px 8px 0px;

  
}

.products-main-header h1 {
  font-size: 2rem;
  font-weight: 500;
  font-size: 3rem;
  
}


.category-links {

  margin-top: 20px;

}

.category-link {
  color: #2c3e50;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  /* border: 2px solid #2c3e50;  */
  border-radius: 5px; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #2c3e50 0px 0px 0px 2px;
  
  
}
.category-link:hover {
  text-decoration: none;
  color: #e74c3c; 
}



  
  



@media all and (max-width:950px){
  .cards{
    width: 100%;
  }
}

@media all and (min-width:0px) and (max-width:740px){
  .main{
    flex-direction: column;
  }

  .cards{
    width: 100%;
    flex-direction: column;
  }
  .product-card{
    width: 90%;
    margin:0 auto;
  }
}

@media all and (min-width:741px) and (max-width:924px){
  .product-card {
    width: calc(50% - 30px);

}
}

@media all and (max-width:477px){
  .category-link{
    font-size: 12px;
  }
}